In [10]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import gzip
from datetime import datetime

In [3]:
response = requests.get("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz")

In [14]:
datetime.today().strftime("%d%m%Y")

'17012025'

In [15]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"
url[-30:].replace(".csv.gz","")

'yellow_tripdata_2019-01'

In [17]:
(url[-30:].replace(".csv.gz",""))

'yellow_tripdata_2019-01'

In [4]:
if response.status_code == 200:
    with open("file.csv.gz","wb") as file:
        file.write(response.content)

In [5]:
with gzip.open("file.csv.gz","rt") as file:
    data = pd.read_csv(file)

In [18]:
7667791/100000

76.67791

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.0+ GB

In [3]:
engine = create_engine("postgresql://admin:admin@localhost:5432/nyc_taxi")

In [4]:
connect = engine.connect()

In [5]:
df_itr = pd.read_csv(r"yellow_tripdata_2019-01.csv",chunksize=100000,iterator=True)

In [6]:
data = next(df_itr)

In [ ]:
data.info()

In [8]:
data["tpep_pickup_datetime"] = pd.to_datetime(data["tpep_pickup_datetime"])
data["tpep_dropoff_datetime"] = pd.to_datetime(data["tpep_dropoff_datetime"])

In [ ]:
print(pd.io.sql.get_schema(data,name="yellow_tripdata_2019_01",con=engine))

In [ ]:
data.head(0).to_sql("yellow_tripdata_2019-01",con=connect,if_exists="replace",index=False)

In [ ]:
data.to_sql("yellow_tripdata_2019-01",con=connect,if_exists="append",index=False)