In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://admin:admin@localhost:5432/nyc_taxi")

In [4]:
connect = engine.connect()

In [5]:
df_itr = pd.read_csv(r"yellow_tripdata_2019-01.csv",chunksize=100000,iterator=True)

In [6]:
data = next(df_itr)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   1 non-null       float64
dtypes: float64(9), int64(6), object(3)
memory usage: 13.7+ MB

In [8]:
data["tpep_pickup_datetime"] = pd.to_datetime(data["tpep_pickup_datetime"])
data["tpep_dropoff_datetime"] = pd.to_datetime(data["tpep_dropoff_datetime"])

In [9]:
print(pd.io.sql.get_schema(data,name="yellow_tripdata_2019_01",con=engine))

CREATE TABLE yellow_tripdata_2019_01 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
data.head(0).to_sql("yellow_tripdata_2019-01",con=connect,if_exists="replace",index=False)

0

In [11]:
data.to_sql("yellow_tripdata_2019-01",con=connect,if_exists="append",index=False)

1000